.container__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.pagination__main {
  margin-top: 50px;
}

.list__full {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}